<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Cenfos Blog</title>
	</head>
	<body>
		<h1>Cenfos Blog</h1>
		
			<a href="/">Inicio</a>         
			<a href="/about/">Sobre mi</a>
        
            <a href="/blog/">Blog</a>
		

		<h2>Asuntos pendientes del blog...</h2>
	</body>
</html>
